// Variables

$col-1: 20%;
$col-2: 40%;
$col-3: 60%;
$col-4: 80%;

$row-1: 0%;
$row-2: 20%;
$row-3: 50%;
$row-4: 80%;

@font-face{
	font-family: 'Roboto';
	src: url('fonts/Roboto.ttf');
}

html{
	margin: 0;
	padding: 0;
}

body{
	margin: 0;
	padding: 0;
	font-family: Roboto;
	font-size: 13px;
	background: rgb(47, 50, 59);
}

// Navbar

nav{

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		background-color: #24262d;
	}

	li {
		float: left;
	}

	li a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
	}

	li a:hover {
		background-color: #1D1D1D;
	}

	.brand{
		font-weight: 700;
		letter-spacing: 0.3em;
		text-transform: uppercase;
	}

	.active{
    	background-color: #f6a821;
	}

}

// Player page

.resume-line{
	position: relative;
	height: 25%;
	width: 90%;
	margin: 0 auto;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 18px;

	.element{
		position: absolute;
		color: #ff541a;
	}

	.crochet{
		color: #ff8080;
		padding: 6px;
	}
	
	.profil-image{
		top: 0;
		left: 0;
		width: 20%;
		height: 100%;
	}

	.desc-name{
		top: $row-1;
		left: $col-1;
		font-size: 22px;
	}

	.desc-born{
		top: $row-2;
		left: $col-2;
	}

	.label-born{
		top: $row-2 - 10%;
		left: $col-2;
	}

	.desc-age{
		top: $row-3;
		left: $col-2;
	}

	.label-age{
		top: $row-3 - 10%;
		left: $col-2;
	}

	.desc-experience{
		top: $row-4;
		left: $col-2;
	}

	.label-experience{
		top: $row-4 - 10%;
		left: $col-2;
	}

	.desc-position{
		top: $row-2;
		left: $col-3;
	}

	.label-position{
		top: $row-2 - 10%;
		left: $col-3;
	}

	.desc-tall{
		top: $row-3;
		left: $col-3;
	}

	.label-tall{
		top: $row-3 - 10%;
		left: $col-3;
	}

	.desc-weight{
		top: $row-4;
		left: $col-3;
	}

	.label-weight{
		top: $row-4 - 10%;
		left: $col-3;
	}

	.desc-club{
		top: $row-2;
		left: $col-4;
	}

	.label-club{
		top: $row-2 - 10%;
		left: $col-4;
	}

	.desc-team{
		top: $row-3;
		left: $col-4;
	}

	.label-team{
		top: $row-3 - 10%;
		left: $col-4;
	}

	.desc-nb-test{
		top: $row-4;
		left: $col-4;
	}

	.label-nb-test{
		top: $row-4 - 10%;
		left: $col-4;
	}

	.desc-overall{
		top: $row-3;
		left: $col-1;
	}

	.label-overall{
		top: $row-2 + 10%;
		left: $col-1;
	}

}

.bloc{
	width: 97%;
	margin: 20px auto;
	// border: 1px solid #251e26;
	// border-radius: 30px;
	// background: #2D2D2D;
}

.title{
	font-size: 24px;
	font-style: italic;
	font-weight: 700;
	color: #E9D460;
	letter-spacing: 0.05em;
	margin-bottom: 7px;
	text-transform: uppercase;
}


// Table

table{
	width: 100%;
	background-color: #1D1D1D;
	color: #fff;
	border: none;
	font-size: 14px;
	margin: 10px auto;
	border-collapse: collapse;
}

tr{
	line-height: 2.5em;
	background-color: #352f33;
}

tr:nth-child(even) {
    background-color: #251e26;
}

tr:hover td {
	background: #fff;
	color: #2D2D2D;
}

td{
	text-align: center;
}

th{
	background: #251e26	;
	color: #fff;
	font-size: 14px;
	letter-spacing: 1;
	text-transform: uppercase;
}